.admin-page-header {
}

.admin-page-header .page-title {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 800;
    line-height: 23px;
    color: #4C4C4C;
}

.admin-page-header .page-title .sub-title {
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
    color: #828282;
}