
.main-service-center-component {
    /*text-align: left;*/
}

.main-service-center-component .content-layout {
    padding: 10px;
}

.content-layout .title {
    letter-spacing: 3px;
    margin-bottom: 3px;
}

.content-layout .content {
    letter-spacing: 1px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.content-layout button {
    margin-left: 7px;
}


/* potionworks */

.homeService {
    background: #F4F7FB;
    border-radius: 5px;
    padding: 30px 10px 20px !important;
}

.homeService .title {
    color: #1F6FBF;
}